<form>
    <h3>Login to: {{system}}</h3>
    <div>
        <label for="username">Username</label><br>
        <input type="text" id="username" placeholder="Fill in your username" class="form-control"><br><br>
    </div>
    <div>
        <label for="password">Password</label><br>
        <input type="text" id="password" placeholder="and your password" class="form-control"><br><br>
    </div>
    <button (click)="onLoginClicked()" type="button" class="btn btn-primary">Login</button>
</form>