<body>
    <router-outlet></router-outlet>
    <h1>Task 30 - Angular components</h1>
    <small>{{userStatus}}</small><br><br>

    <app-login-form [system]="'Task 30 angular application'" (loginResult)="onLoginResult($event)"></app-login-form><br><br>

    <app-register-form [system]="'Task 30 angular application'" (registerResult)="onRegisterResult($event)"></app-register-form>
</body>