<form>
    <h3>Register an account at: {{system}}</h3>
    <div>
        <label for="username">Username</label><br>
        <input type="text" id="username" placeholder="Select a username" class="form-control"><br><br>
    </div>
    <div>
        <label for="password">Password</label><br>
        <input type="text" id="password" placeholder="Select a password" class="form-control"><br><br>
    </div>
    <div>
        <label for="password">Confirm password</label><br>
        <input type="text" id="password" placeholder="Repeat your password" class="form-control"><br><br>
    </div>
    <button (click)="onRegisterClicked()" type="button" class="btn btn-success">Save</button>
</form>